<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">Blog</title>
    <link rel="stylesheet" href="/fullBlog.css">
</head>
    <body>
        <header>Write Wise</header>
        <h2 th:text="${post.title}"></h2>
        <p th:text="${post.author.name}"></p>
        <p th:text="${post.publishedAt}"></p>
        <div th:each="postTag:${postTags}">
            <span th:text="${postTag.name}"></span>
        </div>
        <p th:text="${post.content}"></p>
        <form th:action="@{/home/update}">
            <input type="hidden" th:value="${post.id}" name="postId">
            <input type="submit" value="Update">
        </form>
        <form th:action="@{/home/archive}">
            <input type="hidden" th:value="${post.id}" name="postId">
            <input type="submit" value="Archive">
        </form>
        <form th:action="@{/home/delete}">
            <input type="hidden" th:value="${post.id}" name="postId">
            <input type="submit" value="Delete">
        </form>
        <br><br>
        <div th:each="postedComment:${postedComments}" class="comment">
            <table>
                <tr>
                    <td>
                        <span th:text="${postedComment.author.name}" class="comment-author"></span>
                    </td>
                    <td th:if="${commentIdToUpdate==postedComment.id}">
                        <form method="post" th:action="@{/blog/updateCommentSubmit}">
                            <input type="hidden" name="commentIdToUpdate" th:value="${postedComment.id}">
                            <input type="text" th:value="${postedComment.comment}" name="updatedComment">
                            <input type="submit" value="save">
                        </form>
                    </td>

                    <td th:unless="${commentIdToUpdate==postedComment.id}">
                        <p th:text="${postedComment.comment}"></p>
                    </td>
                    <td>
                        <form th:action="@{/blog/deleteComment}">
                            <input type="hidden" name="commentIdToDelete" th:value="${postedComment.id}">
                            <input type="submit" value="delete" name="deleteComment">
                        </form>
                    </td>
                    <td th:unless="${commentIdToUpdate==postedComment.id}">
                        <form th:action="@{/blog/updateComment}">
                            <input type="hidden" name="commentIdToUpdate" th:value="${postedComment.id}">
                            <input type="submit" value="update">
                        </form>
                    </td>
                </tr>
            </table>
            <br>
        </div>
        <form th:object="${comments}" th:action="@{/blog/newComment(postId=${post.id})}" method="post" class="new-comment">
            <label>Comment:
                <input type="text" th:field="*{comment}" placeholder="post a comment">
                <input type="submit" value="comment">
            </label>
        </form>
    </body>
</html>