<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">Blog</title>
    <link rel="stylesheet" href="/fullBlog.css">
</head>
    <body>
        <header>Write Wise</header>
        <div class="blog-container">
            <h2 th:text="${post.title}" class="blog-author"></h2>
            <p th:text="${post.author.name}" class="blog-author"></p>
            <p th:text="${post.createdAt}" class="blog-timestamp"></p>
            <div th:each="postTag:${postTags}" class="blog-tags-container">
                <span th:text="${postTag.name}" class="blog-tag"></span>
            </div>
            <p th:text="${post.content}" class="blog-content"></p>
            <div class="blog-actions">
                <form th:action="@{/home/update}">
                    <input type="hidden" th:value="${post.id}" name="postId">
                    <input type="submit" value="Update" class="action-button">
                </form>
                <form th:action="@{/home/archive}">
                    <input type="hidden" th:value="${post.id}" name="postId">
                    <input type="submit" value="Archive" class="action-button">
                </form>
                <form th:action="@{/home/delete}">
                    <input type="hidden" th:value="${post.id}" name="postId">
                    <input type="submit" value="Delete" class="action-button">
                </form>
            </div>
        </div>
        <br><br>
        <div class="comment">
            <table class="comment-table" th:each="postedComment:${postedComments}">
                <tr>
                    <td class="comment-author">
                        <span th:text="${postedComment.author.name}" class="comment-author"></span>
                    </td>
                    <td th:if="${commentIdToUpdate==postedComment.id}" class="comment-comment">
                        <form method="post" th:action="@{/blog/updateCommentSubmit}">
                            <input type="hidden" name="commentIdToUpdate" th:value="${postedComment.id}">
                            <input type="text" th:value="${postedComment.comment}" name="updatedComment">
                            <input type="submit" value="save">
                        </form>
                    </td>

                    <td th:unless="${commentIdToUpdate==postedComment.id}" class="comment-comment">
                        <p th:text="${postedComment.comment}"></p>
                    </td>
                    <td class="comment-action">
                        <form th:action="@{/blog/deleteComment}">
                            <input type="hidden" name="commentIdToDelete" th:value="${postedComment.id}">
                            <input type="submit" value="delete" name="deleteComment">
                        </form>
                    </td>
                    <td th:unless="${commentIdToUpdate==postedComment.id}" class="comment-action">
                        <form th:action="@{/blog/updateComment}">
                            <input type="hidden" name="commentIdToUpdate" th:value="${postedComment.id}">
                            <input type="submit" value="update">
                        </form>
                    </td>
                    <td th:text="'posted at : ' + ${postedComment.updated_at}">
                    </td>
                </tr>
            </table>
            <br>
            <form th:object="${comments}" th:action="@{/blog/newComment(postId=${post.id})}" method="post" class="new-comment">
                <label>Comment:
                    <input type="text" th:field="*{comment}" placeholder="post a comment">
                    <input type="submit" value="comment">
                </label>
            </form>
        </div>
    </body>
</html>