<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/profilePage.css">
</head>
<body>
<div class="header">
    <header><a th:href="@{/home}" class="company-name">Write Wise</a></header>
    <div class="user-profile">
        <a href="#" class="user-profile-link">
            <span class="user-profile-name" sec:authentication="name">Yash</span>
            <span class="dropdown-arrow">&#9660;</span>
        </a>
        <div class="dropdown-content">
            <a href="/user/profile">Profile</a>
            <a th:href="@{/home/blog-new}">Publish new Blog</a>
            <form action="#" th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
            </form>
        </div>
    </div>
</div>

<section class="blogpost-container">
    <div class="profileDetails">
        <p>Name : <span th:text="${user.get().name}"></span></p>
        <p>UserName : <span th:text="${user.get().username}"></span></p>
    </div>

    <h2>Your Published Posts: </h2>
    <div class="blogpost-grid">
        <a th:each="publishedPost:${publishedPosts}" th:href="@{/blog(postId=${publishedPost.id})}" class="blogpost">
            <div class = blogPosts>
                <h2 th:text="${publishedPost.title}" class="post-title"></h2>
                <h4 th:text="'Author: '+${publishedPost.author.name}" class="post-author"></h4>
                <p th:text="${publishedPost.publishedAt.toLocaleString()}" class="post-createdat"></p>
                <p th:text="${publishedPost.excerpt}" class="post-excerpt"></p>
                <br>
            </div>
        </a>
    </div>
    <h2>Your Archived Posts</h2>
    <div class="blogpost-grid">
        <a th:each="archivedPost:${archivedPosts}" th:href="@{/blog(postId=${archivedPost.id})}" class="blogpost">
            <div class = blogPosts>
                <div class = blogPosts>
                    <h2 th:text="${archivedPost.title}" class="post-title"></h2>
                    <h4 th:text="'Author: '+${archivedPost.author.name}" class="post-author"></h4>
                    <p th:text="${archivedPost.publishedAt.toLocaleString()}" class="post-createdat"></p>
                    <p th:text="${archivedPost.author.email}" class="post-excerpt"></p>
                    <br>
                </div>
            </div>
        </a>
    </div>
</section>
</body>
</html>