<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Blog Post</title>
    <link rel="stylesheet" href="/updatePost.css">
</head>
<body>
<div class="header">
    <header><a th:href="@{/home}" class="company-name">Write Wise</a></header>
    <div class="user-profile">
        <a href="#" class="user-profile-link">
            <span class="user-profile-name" sec:authentication="name">Yash</span>
            <span class="dropdown-arrow">&#9660;</span>
        </a>
        <div class="dropdown-content">
            <a href="/user/profile">Profile</a>
            <a th:href="@{/home/blog-new}">Publish new Blog</a>
            <form action="#" th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
            </form>
        </div>
    </div>
</div>
<h1>Update Blog Post</h1>
<form th:action="@{/home/submit-updates}" method="post" th:object="${updatePost}">
    <input type="hidden" th:field="*{id}">
    <label>Tags:
        <input type="text" th:value="${tagsStr}" name="tagsStr">
    </label>
    <div>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" th:value="*{title}" th:field="*{title}" required><br>
    </div>
    <div>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="5" cols="40" th:text="*{content}" th:field="*{content}" required></textarea><br>
    </div>
        <input type= "hidden" th:value="*{id}" name="postId">
        <input type="hidden" name="postAuthor" th:value="*{author.name}">
        <input type="submit" value="publish">
</form>
</body>
</html>
